/* Elements */
li {
    padding: 10px 0;
}

button {
    font-size: 30px;
    margin-right: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

/* Class */
.navBar {
    width: 100%;
    background-color: yellow;
    color: white;
    padding: 10px;
    position: fixed;
}

.nav-links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    font-weight: bold;
}

.show-nav {
    height: 240px;
}

/* Media screen size */
@media screen and (min-width: 768px) {
    button {
        display: none;
    }

    .nav-links {
        height: auto;
        display: flex;
    }

    li {
        padding: 10px 15px;
    }
}

.section {
}

.section-dark {
    background: #333;
    color: white;
}

.section-content {
    width: 100%;
    margin: 0 auto;
    padding: 80px;
}

.nav-item > .active {
    border-bottom: 1px solid #333;
}